<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="blog.css" type="text/css">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<div class="blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-left">
                <ul class="bolg-post-list">
                    <li>
                        <article class="blog-post">
                            <div class="featured-post">
                                <a href="#">
                                    <img src="https://i.picsum.photos/id/1057/1200/600.jpg" alt="">
                                </a>
                            </div>
                            <div class="divider25"></div>
                            <div class="content">
                                <h3 class="title">
                                    <a href="#">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <ul class="meta-post">
                                    <li class="comment">
                                        <a href="#">
                                            2 Comments
                                        </a>
                                    </li>
                                    <li class="date">
                                        <a href="#">
                                            February 20, 2017
                                        </a>
                                    </li>
                                </ul>
                                <div class="entry-post">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="more-link">
                                        <a href="#" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="blog-post">
                            <div class="featured-post">
                                <a href="#">
                                    <img src="https://i.picsum.photos/id/1058/1200/600.jpg" alt="">
                                </a>
                            </div>
                            <div class="divider25"></div>
                            <div class="content">
                                <h3 class="title">
                                    <a href="#">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <ul class="meta-post">
                                    <li class="comment">
                                        <a href="#">
                                            2 Comments
                                        </a>
                                    </li>
                                    <li class="date">
                                        <a href="#">
                                            February 20, 2017
                                        </a>
                                    </li>
                                </ul>
                                <div class="entry-post">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="more-link">
                                        <a href="#" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="blog-post">
                            <div class="featured-post">
                                <a href="#">
                                    <img src="https://i.picsum.photos/id/1057/1200/600.jpg" alt="">
                                </a>
                            </div>
                            <div class="divider25"></div>
                            <div class="content">
                                <h3 class="title">
                                    <a href="#">There are many variations of passages</a>
                                </h3>
                                <ul class="meta-post">
                                    <li class="comment">
                                        <a href="#">
                                            2 Comments
                                        </a>
                                    </li>
                                    <li class="date">
                                        <a href="#">
                                            February 20, 2017
                                        </a>
                                    </li>
                                </ul>
                                <div class="entry-post">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="more-link">
                                        <a href="#" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="blog-post">
                            <div class="featured-post">
                                <a href="#">
                                    <img src="https://i.picsum.photos/id/1058/1200/600.jpg" alt="">
                                </a>
                            </div>
                            <div class="divider25"></div>
                            <div class="content">
                                <h3 class="title">
                                    <a href="#">There are many variations of passages</a>
                                </h3>
                                <ul class="meta-post">
                                    <li class="comment">
                                        <a href="#">
                                            2 Comments
                                        </a>
                                    </li>
                                    <li class="date">
                                        <a href="#">
                                            February 20, 2017
                                        </a>
                                    </li>
                                </ul>
                                <div class="entry-post">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="more-link">
                                        <a href="#" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="blog-pagination">
                    <ul class="">
                        <li class="prev">
                            <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#" class="waves-effect waves-teal">01</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">02</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">03</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">04</a>
                        </li>
                        <li class="next">
                            <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="widget widget-search">
                    <form action="#" method="get" accept-charset="utf-8">
                        <input type="text" name="widget-search" placeholder="Search">
                    </form>
                </div>
                <div class="widget widget-categories">
                    <div class="widget-title">
                        <h3>Categories</h3>
                    </div>
                    <ul class="cat-list">
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Accessories<span>(03)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Cameras<span>(19)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Computers<span>(56)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Laptops<span>(03)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Networking<span>(03)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Old Products<span>(89)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Smartphones<span>(90)</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chevron-right"></i> Software<span>(23)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Popular Tags</h3>
                    </div>
                    <ul class="tag-list">
                        <li>
                            <a href="#" class="waves-effect waves-teal">Phone</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">Cameras</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">Computers</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">Laptops</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect waves-teal">Headphones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;font-size:14px;padding-bottom:20px;">Get free icon packs for your next project at <a href="http://iiicons.in/" target="_blank" style="color:#ff5e63;font-weight:bold;">www.iiicons.in</a></div>